<div id="header">
    <div id="headerTitle">
        <h1>Bienvenido a Apapacho</h1>
        <p>
            Un sitio para brindar cariño y compañía a
            personas de la tercera edad
        </p>
        
    </div>
    <img src="https://res.cloudinary.com/robcg1102/image/upload/v1598555980/Apapacho/home_img_dugggp.png" alt="...">
</div>
<div id="allExplain">
    <h3>Dependiendo de la cuenta que elijas al registrarte, podrás:</h3>
    <div id="explainHome">
        <div class="eachUs">
            <h4>Donante</h4>
            <ul>
                <li>Verificar los artículos que solicitan nuestros beneficiados</li>
                <li>Ver qué día les gustaría recibir una visita</li>
            </ul>
        </div>
        <div class="eachUs">
            <h4>Beneficiado</h4>
            <ul>
                <li>Solicitar artículos</li>
                <li>Solicitar visitas</li>
            </ul>
        </div>
        <div class="eachUs">
            <h4>Asilo</h4>
            <ul>
                <li>Solicitar artículos para tus beneficiados</li>
                <li>Solicitar visitas para tus beneficiados</li>
            </ul>
        </div>
    </div>
</div>